<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet'  type='text/css'>
    <link rel="stylesheet" href="/resources/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="http://mustache.js/2.2.1/mustache.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.2.1/mustache.min.js"></script>
    <script type="text/javascript" src="/resources/scripts/restgroups.js"></script>
    <title>Groups</title>
</head>
<body>
    <!--<div onload="loadAllGroups">
        <div id="target">Loading...</div>
        <script id="groupTemplate" type="x-tmpl-mustache">
        {{#groups}}
            <div class="font"> {{ groupName }} </div>
            <button type="button" class="btn btn-default btn-lg" id="loadModalEditGroup">Edit</button>
        {{/groups}}
        </script>
    </div>
    <button type="button" class="btn btn-default btn-lg" id="loadModalCreatingGroup">Add new group</button>
    -->

    <!-- Modal -->
    <div class="modal fade" id="addGroup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add new group</h4>
                </div>
                <div class="modal-body">
                    <form role="form">
                        <div class="form-group">
                            <label for="groupName"><span class="glyphicon glyphicon-user"></span> Name</label>
                            <input type="text" class="form-control" id="groupName" placeholder="Enter name">
                        </div>
                        <button type="submit" class="btn btn-success btn-block" id="createGroup"><span class="glyphicon glyphicon-off"></span> Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>